// Place all the styles related to the Weights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin_top { margin-top: 1em; }
.margin_bottom { margin-bottom: 1em; }
.margin_left { margin-left: 1em; }
.margin_right { margin-right: 1em; }

em.date_format_tooltip {
    clear: both;
    color: #959496;
    display: block;
    font-size: 0.9em;
    margin-left:0.2em;
}